html{
    font-size: 55%;
}
/* header section */
header h1{
    padding-left: 1rem;
    font-size: 2.5rem;
}
header h3{
    width: 100%;
    font-size: 2rem;
}
header h3:hover{
    font-size: 3rem;
}
/* navigation */
#navbar {
    flex-direction: column;
}
#logo img {
    height: 8rem;
    margin: .2rem .5rem;
}

#navbar ul li a{
    font-size: 1.7rem;
    padding: 0px .4rem;
}

#navbar ul li{
    margin-bottom: .8rem;
}

/* home section */
#home{
     font-size: 1rem;
     padding: 23px 8px; }

 /* product list */
#service{
    grid-template-columns:repeat(auto-fit, minmax(1rem,20rem));
    /* grid-template-rows: 1fr 1fr; */
    justify-content: center;
    /* align-content: center; */
}
.box{
   margin: 1rem;
   padding: .5rem;
}
.box > img{
   height: 15rem;
}
     
/* contact section */
#contact form {
    width: 80%;
}
/* footer */
footer{
    padding: .5rem;
}
 /* utility class */

.h1-primary {
     font-size: 3rem;
 }
 .h1-secondary {
    font-size: 2rem;
}
.primary-center{
    font-size: 1.5rem;
}


.btn {
    margin-top: .5rem;
    padding: .8rem;
    border: 1px solid black;
    font-size: 1rem;
}
 .para-primary {
    margin-top: .5rem;
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    text-align: center;
}

.logo_name:hover{
   font-size: 4rem;
}
